.search {
  margin-bottom: 39px;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  padding: 3px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(255, 73, 73);
}
.search-box input {
  flex-grow: 1;
  padding: 0 30px;
  border-radius: 3px;
  height: 100%;
  min-width: 0;
  border: none;
  outline: none;
}
.search-box button {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  background-color: rgb(255, 73, 73);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  padding-right: 33px;
  padding-left: 33px;
}

@media (max-width: 768px) {
  .search-box input {
    padding: 0 15px;
  }
  .search-box button {
    padding: 0 15px;
  }
}
